* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------  navegacion ---------------*/
 .navegacion{
  display:flex;
  align-items: center;
  align-content: center;
 justify-content: space-between;
   background-color:#7f2b39;
   
 }
 .logo{
  margin-top: 10px;
  display: flex;
  padding:6px;
 }

 .lista{
    display: flex;
  list-style: none;
  margin-top: 10px;

}
  

 .bt-claro{
  margin: 15px; 
  text-decoration: none;
background-color: transparent;
  border-radius: 9px;
  padding: 10px 15px 10px 15px;
  color: white
 }
  .bt-claro:hover{
 background-color: transparent;
box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.79);
-webkit-box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.79);
-moz-box-shadow: 0px 0px 41px -7px rgba(0,0,0,0.79);
 }


 .iniciar_sesion{
   margin: 15px; 
  text-decoration: none;
  border-radius: 9px;
  padding: 7px 18px 7px 15px;
  color: white;
  background-color: #181419;
  padding: 10px 15px 10px 15px ;
 }

 .iniciar_sesion:hover{
background-color: #7f2b39;
 }

/*---------  fin navegacion ---------------*/



 fin hover navegacion ---------------*/

/* stiles of header*/


/* botones derecha */
.btn-tendencias,
.btn-registrase,
.btn-header {
  list-style: none;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  list-style: none;
  color: white;
}

.btn-registrarse {
  list-style: none;
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  list-style: none;
  color: white;
  text-decoration: none;
}

/* botones izquierda */
.logo {
  list-style: none;
  color: white;
}
/*  <---------------------imagen portada ------------------->*/
.portada {
  width: 100%;
  height:90vh;
  background-image: url("../image/banner-bg.jpg");
  background-size: cover;
  background-position: center;
  display: inline-block;
  align-content: center;
  text-align: center;
  color: white;
}
.letras {
  color: white;
  z-index: 20;
}
.hr {
  width: 100%;
  height: 2px;
  background-color: firebrick;
  border-color: #9f3647;
  margin-top: 100px;
  margin-bottom: 50px;
}
.btn-registrar {
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: #9f3647;
  color: white;
  border: none;
}
.title {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
}
.cards {
  position: sticky;
  display: flex;
  background-color: #181419;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
 
 padding: 0px 110px 100px 100px;
}
.card {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin: 20px 20px;

}
.card-body{
  display: none;
}
.tendencias_hoy{
text-align: center;
 font-family: "Nunito", sans-serif;
}



img {
  width: 100%;
  height: auto;
}
/*buscador*/
.buscador {
  background-color: #181419;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 60px 10px 10px 0px;
}
.btn-search {
  border-radius: 200px;
  width: 80px;
  height: 40px;
  background-color: #9f3647;
  color: white;
  border-color: white;
}
.txt-search {
  border-radius: 200px;
  width: 300px;
  height: 40px;
  background-color: white;
  color: black;
  border-color: white;
  margin-right: 10px;
}

/*--------------------------- animacion buscador*/
@keyframes show {
  from {
    opacity: 0;
    scale:25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.buscador {
  view-timeline-name:--serch;
  view-timeline-axis: block;
  animation-timeline: --serch;
  animation-name: show;
}


/* ------------------------fin animacion buscador*/
.title-section {
  font-family: "Nunito", sans-serif;
}

.paginator {
  padding: 50px 50px;
  background-color: #181419;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-paginator {
  border-radius: 5px;
  border: 1px solid white;
  box-sizing: content-box;
  margin-top: 50px;
  margin-left: 20px;
  background-color: #9f3647;
  color: #ffffff;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 60px;
  /* Agregar efecto de botón presionado */
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    background-color: #9f3647;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(12, 10, 10, 0.3);
  }
}

/* aclamadas*/

.txt-aclamadas {
  font-family: "Nunito", sans-serif;
  color: white;
}

.aclamadas {
  background-color: #181419;
}

.cards-aclamadas {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.card-aclamadas {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin: 10px 10px;
}
img {
  width: 100%;
  height: auto;
}

/*footer*/

.nav-footer {
  background-color: #9f3647;
  color: white;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  align-content: center;
  padding: 20px 20px;
  text-decoration: none;
}

.nav-list .list-item {
  padding: 20px 20px;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: #ffffff;
}

.nav-list .list-item-black {
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
}

.nav-list .list-item .link-nav {
  padding: 20px 20px;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: #ffffff;
}
.administradorPeliculas {
  background-color: black;
  border-radius: 10px;
}

/*<------------------------------------ movile --------------------------------->*/

@media screen  and (max-width: 650px) {
  /* <-------------------------- stiles of header ------------------------>   */

 .navegacion{
  display:flex;
  flex-direction: column;
  align-items: center;
background-color: #7f2b39;
 }
 .lista{
  display: flex;
  padding:6px;
 }
 .lista{list-style: none;}
  

 .tendencias , .registrarse{
  margin: 15px; 
  text-decoration: none;
background-color: transparent;
  border-radius: 9px;
  padding: 7px 18px 7px 15px;
  color: rgb(76, 84, 195);

 }

 .iniciar_sesion{
   margin: 15px; 
  text-decoration: none;
  border-radius: 9px;
  padding: 7px 18px 7px 15px;
  color: white;
 }

















  /* botones derecha */



  /*   <-------------------------fin stiles of header ---------------------->   */
}
